.castList {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  margin-top: -15px;
  margin-left: -15px;
}

.castItem {
  list-style: none;
  background-color: #c4c4c4;
  flex-basis: calc((100% - 5 * 15px) / 5);
  margin-top: 15px;
  margin-left: 15px;
}
